<!DOCTYPE html>
<html>

<head>
 <meta charset="UTF-8">
 <title>Registration</title>
 <style>
  /* Your existing styles */
 </style>
</head>

<body>
 <div class="form-container">
  <div th:if="${param.success}">
   <div class="success-message">
    <p>Registration Successful!</p>
   </div>
  </div>

  <h2>Registration</h2>
  <form th:action="@{/register}" method="post" th:object="${user}">
   <label for="username">Username:</label>
   <input th:field="*{username}" type="text" id="username" name="username" placeholder="Enter your Username" required>

   <label for="password">Password:</label>
   <input th:field="*{password}" type="password" id="password" name="password" placeholder="Enter your Password" required>

   <label for="email">Email:</label>
   <input th:field="*{email}" type="email" id="email" name="email" placeholder="Enter your Email" required>

   <button type="submit">Register</button>
  </form>

  <div>
   <span th:if="${Userexist}" style="color: red;">Username is Taken</span>
  </div>
  
  <div>
   <span class="form-footer">Already have an account? <a th:href="@{/login1}">Login</a> here.</span>
  </div>
 </div>
</body>
</html>
